* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #F0F2F5;
}

/* user-agent font-size is 16px, let's make it responsive */
@media(max-width: 1080px) {
  html {
    font-size: 93.75%; /* 15px */
  }
}

@media(max-width: 970px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}

@media(max-width:700px) {
  :root {
    font-size: 75%; /* 12px */
  }
}

@media(max-width: 590px) {
  :root {
    font-size: 62.25% /* 10px */
  }
}

body {
  background-color: var(--color-background);
}

.container {
  width: min(1440px, 90vw);
  margin: 0 auto;
}

button {
  cursor: pointer;
}

body,
input,
button,
textarea {
  font: 500 1rem inter;
  border: none;
}

main {
  text-align: center;
}
